/* 대시보드 */
.dashboard {height:calc(100% - 2.714rem); padding:1rem 2rem; text-align:center;}
.dashboard > section {display:flex; align-items:center; height:calc(100vh - 10.714rem);}
.dashboard > .dashboard-list > map {position:relative; flex:1; height:80%; margin-right:3.571rem;}
.dashboard > .dashboard-list > map > button {display:flex; justify-content:center; align-items:center; position:absolute; right:0; width:3.214rem; height:3.214rem; padding:0; font-size:1.143rem; z-index:10;}
.dashboard > .dashboard-list > map > div:nth-of-type(1), .dashboard > .dashboard-list > map canvas {width:100% !important; height:100% !important;}
.dashboard > .dashboard-list > div {flex:1.5;}
.dashboard > .dashboard-list > div .box {min-height:64vh; margin-top:1.786rem;}
.dashboard > .dashboard-list > div .list > thead th:nth-last-of-type(2) {width:30%;}
.dashboard > .dashboard-result {flex-direction:column; margin-top:1%;}
.dashboard > .dashboard-result > dl {display:flex; justify-content:space-between; align-items:center; width:100%;}
.dashboard > .dashboard-result > dl > dt {font-size:1.143rem; color:#bababa;}
.dashboard > .dashboard-result > dl > dt > span {margin:0 0.5rem 0 1.429rem; color:#fff;}
.dashboard > .dashboard-result > dl > dt > span:first-child {margin:0; cursor:pointer;}
.dashboard > .dashboard-result > dl > dt > span.live-inter {color:#80f652;}
.dashboard > .dashboard-result > dl > dt > span.live-stop {color:#f65252;}
.dashboard > .dashboard-result > dl > dt > span.live-ready {color:#52caf6;}
.dashboard > .dashboard-result > dl > dt > span.live-fail {color:#ecf652;}
.dashboard > .dashboard-result > dl > dd {display:flex; align-items:center;}
.dashboard > .dashboard-result > dl > dd > button:last-child {margin-left:0.7143rem;}
.dashboard > .dashboard-result > dl:nth-of-type(2) {margin-top:1%;}
.dashboard > .dashboard-result > dl:nth-of-type(2) > dt {color:#fff;}
.dashboard > .dashboard-result > dl:nth-of-type(2) > dd {padding:0.857rem; border-radius:0.357rem; background:#7120ea; cursor:pointer;}
.dashboard > .dashboard-result > ol {display:flex; justify-content:space-between; width:100%; margin-top:1%;}
.dashboard > .dashboard-result > ol > li {padding:1.071rem;}
.dashboard > .dashboard-result > ol .chart, .dashboard > .dashboard-result > ol .chart2 {width:28vw; height:24vh;}
.dashboard > .dashboard-result > ol .chart .tui-chart-series-custom-event-area {display:none;}
.dashboard > .dashboard-result > ol .chart2 .tui-chart-series-custom-event-area {display:none;}
.dashboard > .dashboard-result > ol .chart .echarts-for-react {height:100% !important;}
.dashboard > .dashboard-result > ol .chart2 .echarts-for-react {height:50% !important;}
.dashboard > .dashboard-result > div.box {margin-top:1%;}
.dashboard > .dashboard-result > div.box .list thead {display:grid;}
.dashboard > .dashboard-result > div.box .list thead tr {display:grid; grid-template-columns:3fr 3fr 2fr repeat(2, 1fr) 2fr;}
.dashboard > .dashboard-result > div.box .list thead tr th {padding:0 2% 2% 2%; border-right:0.143rem solid rgba(255,255,255,0.18);}
.dashboard > .dashboard-result > div.box .list thead tr td {display:grid; grid-row-start:2; grid-column-start:1; grid-column-end:4; grid-template-columns:repeat(8, 1fr);}
.dashboard > .dashboard-result > div.box .list thead tr td span {display:block; padding:6%; border-top:0.143rem solid rgba(255,255,255,0.18); border-right:0.143rem solid rgba(255,255,255,0.18);}
.dashboard > .dashboard-result > div.box .list thead tr:first-child th:nth-last-of-type(-n+3) {grid-row:span 2; display:flex; justify-content:center; align-items:center;}
.dashboard > .dashboard-result > div.box .list thead tr:first-child th:nth-child(4) {grid-column:4;}
.dashboard > .dashboard-result > div.box .list thead tr:first-child th:nth-child(5) {grid-column:5;}
.dashboard > .dashboard-result > div.box .list thead tr:first-child th:last-of-type {grid-column:6; border-right:0;}
.dashboard > .dashboard-result > div.box .list tbody {display:block; max-height:50vh; overflow:overlay;}
.dashboard > .dashboard-result > div.box .list tbody tr {display:grid; grid-template-columns:repeat(10, 1fr) 2fr;}
.dashboard > .dashboard-result > div.box .list tbody tr td {display:flex; justify-content:center; align-items:center; padding:2%; border-right:0.143rem solid rgba(255,255,255,0.18);}
.dashboard > .dashboard-result > div.box .list tbody tr td:last-child {border-right:0;}
